* {
  margin: 0;
  padding: 0;
}

body {
  margin: 25px 50px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  text-align: center;
}
.cards {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.cards div {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

#test {
  font-size: calc(24px + 8vw);
}

.play-me {
  cursor: pointer;
  margin: 0 auto;
  width: 50%;
}
