body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
  max-width: 960px;
}

.game-header {
  max-width: 700px;
}

.card:hover {
  color: white;
}
.card:hover .card-header {
  background-color: #0275d8;
}
.card:hover div.card-body {
  border: #0275d8 1px solid;
}
.card img {
  max-width: 100%;
}

@media (max-width: 400px) {
  div.card-header {
    display: none;
  }
  div.card-body button {
    display: none;
  }
  .card img {
    max-width: 100%;
  }
}
